---
layout: default
---

        <h3>About the event </h3>
        <p>PyCon Namibia is an initiative of the Namibian Python community.</p>

        <p>The event aims to bring together 180 attendees from Namibia and around the world, including professional software developers, scientists, academics and students.</p>

        <h3>Location and dates</h3>
        <p>PyCon Namibia will be hosted at the main Windhoek campus of the University of Namibia, from the 25th to the 29th of January.</p>

        <h3>Supporters</h3>
        <p>The event is supported by:

        <ul>
            <li>the University of Namibia</li>
            <li>the Phoenix Project, Cardiff University</li>
            <li>the Django UK society</li>
        </ul>
        </p>

        {% if false %}
        <h3> News </h3>

        <ul >
        {% for post in site.posts%}
            <li>
                <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                <a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
                <p>{{post.excerpt}}
                <a class="post-link" href="{{ post.url }}">...</a>
                </p>
            </li>
        {% endfor %}
        {% endif %}
      </section>
    </div>
