---
layout: compress
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include head %}
  {% if page.tito %}
    <style>{% include tito.css %}</style>
    <script src='https://js.tito.io/v1' async></script>
  {% endif %}
</head>
<body id="top-of-page" class="{{ page.format }}">
	{% include masthead %}

	{% unless page.skip_boilerplate %}
	{% include navigation %}
	{% endunless %}

	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include footer %}
	{% endunless %}

	{% include footer_scripts %}
</body>
</html>
