---
layout: default
format: blog-index
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


	{% if page.teaser %}
    <div class="row t30">
  	<p class="teaser">
  		{{ page.teaser }}
  	</p>
    </div>
	{% endif %}


<div class="row t60">
	{% if page.widget1.title %}
		{% include frontpage-widget widget=page.widget1 %}
	{% endif %}


	{% if page.widget2.title %}
		{% include frontpage-widget widget=page.widget2 %}
	{% endif %}


	{% if page.widget3.title %}
		{% include frontpage-widget widget=page.widget3 %}
	{% endif %}
</div><!-- /.row -->

{% unless site.posts == empty %}
    <div class="row t30 b20 homepage">
        <div class="small-12 columns">
            <h2>News</h2>
            <ul>
                {% for post in site.posts limit:5 %}
                    <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a>
                {% endfor %}
            <ul>
        </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


{% endunless %}

{% if content %}
  {{ content }}
{% endif %}
